<html>
<head>
<title>PigLatin</title>
</head>
<body>
    <h1>Pig Latin Homework</h1>
    <h2>               </h2>
    <p1>Fact Translated to Pig Latin: {{ text }}</p1>
    <h3>               </h3>
    <p2>{{ url }}</p2>
    <h4>               </h4>
</body>
    <nav>
        <a href="{{ url }}">Go to Pig Latin Site</a>
    </nav>
</html>
