<html>
<head>
<title>PigLatin</title>
</head>
<body>
    <h1>Pig Latin Homework</h1>
	<p1>{{ url }}</p1>
	<h2> </h2>
</body>
    <nav>
        <a href="{{ url }}">Go to Pig Latin Site</a>
    </nav>
</html>
